data/node-red-data/.flows.json.backup
[
    {
        "id": "f6f2187d.f17ca8",
        "type": "tab",
        "label": "Dashboard",
        "disabled": false,
        "info": ""
    },
    {
        "id": "037aecdc6926ce9a",
        "type": "mqtt-broker",
        "name": "IdC",
        "broker": "mosquitto",
        "port": "1883",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "autoUnsubscribe": false,
        "birthTopic": "",
        "birthQos": "0",
        "birthRetain": "false",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closeRetain": "false",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willRetain": "false",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "f5279b01.b328d8",
        "type": "mqtt-broker",
        "name": "",
        "broker": "mosquitto",
        "port": "1883",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": 4,
        "keepalive": "60",
        "cleansession": true,
        "autoUnsubscribe": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "willTopic": "",
        "willQos": "0",
        "willPayload": ""
    },
    {
        "id": "54e7288c2ba99b11",
        "type": "ui_base",
        "theme": {
            "name": "theme-light",
            "lightTheme": {
                "default": "#0094CE",
                "baseColor": "#0094CE",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": true,
                "reset": false
            },
            "darkTheme": {
                "default": "#097479",
                "baseColor": "#097479",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": false
            },
            "customTheme": {
                "name": "Untitled Theme 1",
                "default": "#4B7930",
                "baseColor": "#4B7930",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
            },
            "themeState": {
                "base-color": {
                    "default": "#0094CE",
                    "value": "#0094CE",
                    "edited": false
                },
                "page-titlebar-backgroundColor": {
                    "value": "#0094CE",
                    "edited": false
                },
                "page-backgroundColor": {
                    "value": "#fafafa",
                    "edited": false
                },
                "page-sidebar-backgroundColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "group-textColor": {
                    "value": "#1bbfff",
                    "edited": false
                },
                "group-borderColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "group-backgroundColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "widget-textColor": {
                    "value": "#111111",
                    "edited": false
                },
                "widget-backgroundColor": {
                    "value": "#0094ce",
                    "edited": false
                },
                "widget-borderColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "base-font": {
                    "value": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
                }
            },
            "angularTheme": {
                "primary": "indigo",
                "accents": "blue",
                "warn": "red",
                "background": "grey",
                "palette": "light"
            }
        },
        "site": {
            "name": "Fitness Monitoring",
            "hideToolbar": "false",
            "allowSwipe": "false",
            "lockMenu": "true",
            "allowTempTheme": "true",
            "dateFormat": "DD/MM/YYYY",
            "sizes": {
                "sx": 50,
                "sy": 50,
                "gx": 6,
                "gy": 6,
                "cx": 6,
                "cy": 6,
                "px": 0,
                "py": 0
            }
        }
    },
    {
        "id": "a78cb2f860b22a4a",
        "type": "ui_tab",
        "name": "History",
        "icon": "dashboard",
        "order": 1,
        "disabled": false,
        "hidden": false
    },
    {
        "id": "57c0f65a01184402",
        "type": "ui_tab",
        "name": "Current Activity",
        "icon": "dashboard",
        "order": 2,
        "disabled": false,
        "hidden": false
    },
    {
        "id": "d1ab81382855fd4b",
        "type": "ui_group",
        "name": "Current Activity",
        "tab": "57c0f65a01184402",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "eb93e483d1486b31",
        "type": "ui_spacer",
        "z": "f6f2187d.f17ca8",
        "name": "spacer",
        "group": "a33b2b7f897e6143",
        "order": 3,
        "width": 1,
        "height": 1
    },
    {
        "id": "e34fc22e9331f514",
        "type": "ui_group",
        "name": "History of Activity",
        "tab": "a78cb2f860b22a4a",
        "order": 4,
        "disp": true,
        "width": "16",
        "collapse": false,
        "className": ""
    },
    {
        "id": "4ffe8dfa06844b21",
        "type": "ui_spacer",
        "z": "f6f2187d.f17ca8",
        "name": "spacer",
        "group": "e34fc22e9331f514",
        "order": 1,
        "width": 2,
        "height": 1
    },
    {
        "id": "218c063930e357b9",
        "type": "ui_spacer",
        "z": "f6f2187d.f17ca8",
        "name": "spacer",
        "group": "e34fc22e9331f514",
        "order": 6,
        "width": 2,
        "height": 1
    },
    {
        "id": "300466a754bdcc74",
        "type": "ui_spacer",
        "z": "f6f2187d.f17ca8",
        "name": "spacer",
        "group": "e34fc22e9331f514",
        "order": 8,
        "width": 4,
        "height": 1
    },
    {
        "id": "bf1318429630626c",
        "type": "ui_spacer",
        "z": "f6f2187d.f17ca8",
        "name": "spacer",
        "group": "e34fc22e9331f514",
        "order": 10,
        "width": 1,
        "height": 1
    },
    {
        "id": "8f37939d24fcb53c",
        "type": "ui_spacer",
        "z": "f6f2187d.f17ca8",
        "name": "spacer",
        "group": "e34fc22e9331f514",
        "order": 12,
        "width": 1,
        "height": 1
    },
    {
        "id": "329873c0be912b1a",
        "type": "ui_spacer",
        "z": "f6f2187d.f17ca8",
        "name": "spacer",
        "group": "e34fc22e9331f514",
        "order": 14,
        "width": 4,
        "height": 1
    },
    {
        "id": "79b838218f3fe196",
        "type": "ui_spacer",
        "z": "f6f2187d.f17ca8",
        "name": "spacer",
        "group": "e34fc22e9331f514",
        "order": 15,
        "width": 16,
        "height": 1
    },
    {
        "id": "df924a2577f12739",
        "type": "ui_chart",
        "z": "f6f2187d.f17ca8",
        "name": "",
        "group": "e34fc22e9331f514",
        "order": 7,
        "width": 16,
        "height": 5,
        "label": "Data",
        "chartType": "line",
        "legend": "true",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "Select the date interval to display data!",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 1390,
        "y": 280,
        "wires": [
            []
        ]
    },
    {
        "id": "268488cf39bea576",
        "type": "ui_button",
        "z": "f6f2187d.f17ca8",
        "name": "",
        "group": "e34fc22e9331f514",
        "order": 2,
        "width": 3,
        "height": 1,
        "passthru": false,
        "label": "Duration",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "duration",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "str",
        "x": 100,
        "y": 80,
        "wires": [
            [
                "4cf8b5862d51c0a1"
            ]
        ]
    },
    {
        "id": "d69393651836928f",
        "type": "ui_button",
        "z": "f6f2187d.f17ca8",
        "name": "",
        "group": "e34fc22e9331f514",
        "order": 3,
        "width": 3,
        "height": 1,
        "passthru": false,
        "label": "Distance",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "distance",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 100,
        "y": 120,
        "wires": [
            [
                "4cf8b5862d51c0a1"
            ]
        ]
    },
    {
        "id": "86295fa9eb8de15a",
        "type": "ui_button",
        "z": "f6f2187d.f17ca8",
        "name": "",
        "group": "e34fc22e9331f514",
        "order": 4,
        "width": 3,
        "height": 1,
        "passthru": false,
        "label": "Calories",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "calories",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 100,
        "y": 160,
        "wires": [
            [
                "4cf8b5862d51c0a1"
            ]
        ]
    },
    {
        "id": "49b7c6071c03ba55",
        "type": "ui_button",
        "z": "f6f2187d.f17ca8",
        "name": "",
        "group": "e34fc22e9331f514",
        "order": 5,
        "width": 3,
        "height": 1,
        "passthru": false,
        "label": "Activity Level",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "activity_level",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 110,
        "y": 200,
        "wires": [
            [
                "4cf8b5862d51c0a1"
            ]
        ]
    },
    {
        "id": "d476583791edad7f",
        "type": "ui_button",
        "z": "f6f2187d.f17ca8",
        "name": "",
        "group": "e34fc22e9331f514",
        "order": 9,
        "width": 2,
        "height": 1,
        "passthru": false,
        "label": "Day",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "day",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 90,
        "y": 280,
        "wires": [
            [
                "8977936e467c8338"
            ]
        ]
    },
    {
        "id": "0bd98bf2c8500038",
        "type": "ui_button",
        "z": "f6f2187d.f17ca8",
        "name": "",
        "group": "e34fc22e9331f514",
        "order": 11,
        "width": 2,
        "height": 1,
        "passthru": false,
        "label": "Week",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "week",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 90,
        "y": 320,
        "wires": [
            [
                "8977936e467c8338"
            ]
        ]
    },
    {
        "id": "2f49448bea76445e",
        "type": "ui_button",
        "z": "f6f2187d.f17ca8",
        "name": "",
        "group": "e34fc22e9331f514",
        "order": 13,
        "width": 2,
        "height": 1,
        "passthru": false,
        "label": "Month",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "month",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 90,
        "y": 360,
        "wires": [
            [
                "8977936e467c8338"
            ]
        ]
    },
    {
        "id": "51a148835b1205a6",
        "type": "ui_form",
        "z": "f6f2187d.f17ca8",
        "name": "",
        "label": "",
        "group": "e34fc22e9331f514",
        "order": 23,
        "width": 0,
        "height": 0,
        "options": [
            {
                "label": "Start Date",
                "value": "start_date",
                "type": "date",
                "required": true,
                "rows": null
            },
            {
                "label": "End Date",
                "value": "end_date",
                "type": "date",
                "required": true,
                "rows": null
            }
        ],
        "formValue": {
            "start_date": "",
            "end_date": ""
        },
        "payload": "",
        "submit": "Search",
        "cancel": "",
        "topic": "topic",
        "topicType": "msg",
        "splitLayout": true,
        "className": "",
        "x": 90,
        "y": 460,
        "wires": [
            [
                "ee104bc00a538728"
            ]
        ]
    },
    {
        "id": "5fda28e5e98eb732",
        "type": "ui_text",
        "z": "f6f2187d.f17ca8",
        "group": "d1ab81382855fd4b",
        "order": 16,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Current Activity: ",
        "format": "Walking",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 300,
        "y": 780,
        "wires": []
    },
    {
        "id": "0ec93cb818058c99",
        "type": "ui_gauge",
        "z": "f6f2187d.f17ca8",
        "name": "",
        "group": "d1ab81382855fd4b",
        "order": 1,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "Activity Level",
        "label": "units",
        "format": "{{value}}",
        "min": 0,
        "max": 10,
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 290,
        "y": 880,
        "wires": []
    },
    {
        "id": "fc88a607928f1d2c",
        "type": "http request",
        "z": "f6f2187d.f17ca8",
        "name": "Fetch Data",
        "method": "POST",
        "ret": "obj",
        "paytoqs": "body",
        "url": "http://172.100.10.14:8080/data",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [],
        "x": 1030,
        "y": 400,
        "wires": [
            [
                "24a77358085c8c36"
            ]
        ]
    },
    {
        "id": "4cf8b5862d51c0a1",
        "type": "change",
        "z": "f6f2187d.f17ca8",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "dataType",
                "pt": "flow",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 410,
        "y": 240,
        "wires": [
            [
                "ad6a3cb3572288bf"
            ]
        ]
    },
    {
        "id": "8977936e467c8338",
        "type": "change",
        "z": "f6f2187d.f17ca8",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "period",
                "pt": "flow",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 400,
        "y": 300,
        "wires": [
            [
                "ad6a3cb3572288bf"
            ]
        ]
    },
    {
        "id": "ee104bc00a538728",
        "type": "change",
        "z": "f6f2187d.f17ca8",
        "name": "set start & end dates",
        "rules": [
            {
                "t": "set",
                "p": "start_date",
                "pt": "flow",
                "to": "payload.start_date",
                "tot": "msg",
                "dc": true
            },
            {
                "t": "set",
                "p": "end_date",
                "pt": "flow",
                "to": "payload.end_date",
                "tot": "msg",
                "dc": true
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 420,
        "y": 360,
        "wires": [
            [
                "ad6a3cb3572288bf"
            ]
        ]
    },
    {
        "id": "ad6a3cb3572288bf",
        "type": "function",
        "z": "f6f2187d.f17ca8",
        "name": "CreateRequest",
        "func": "var dataType = flow.get('dataType');\nvar dataPeriod = flow.get('period');\nvar end_date = flow.get('end_date');\nvar start_date = flow.get('start_date');\n\nvar isValid = true;\n\nif(dataType === undefined) {\n    dataType = 'duration';\n}\n\nif(dataPeriod === undefined) {\n    dataPeriod = 'day';\n}\n\nif(start_date === undefined || end_date === undefined) {\n    isValid = false;\n    return {payload : null};\n}\n\n//Handle start data after end data\n\nvar newMsg = {\n    payload : {\n        dataType : dataType,\n        dataPeriod : dataPeriod,\n        start_date : start_date,\n        end_date : end_date\n    }\n};\n\n\nreturn newMsg; //newMsg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 680,
        "y": 300,
        "wires": [
            [
                "2f6a671a6a3be3c6"
            ]
        ]
    },
    {
        "id": "42658e4f0486cbc1",
        "type": "debug",
        "z": "f6f2187d.f17ca8",
        "name": "isNull",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 1030,
        "y": 140,
        "wires": []
    },
    {
        "id": "2f6a671a6a3be3c6",
        "type": "switch",
        "z": "f6f2187d.f17ca8",
        "name": "",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "null"
            },
            {
                "t": "nnull"
            }
        ],
        "checkall": "false",
        "repair": false,
        "outputs": 2,
        "x": 870,
        "y": 300,
        "wires": [
            [
                "42658e4f0486cbc1"
            ],
            [
                "fc88a607928f1d2c",
                "c0bc66eb40920bfe"
            ]
        ]
    },
    {
        "id": "c0bc66eb40920bfe",
        "type": "debug",
        "z": "f6f2187d.f17ca8",
        "name": "Created Request",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 1090,
        "y": 200,
        "wires": []
    },
    {
        "id": "24a77358085c8c36",
        "type": "debug",
        "z": "f6f2187d.f17ca8",
        "name": "Response",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 1320,
        "y": 400,
        "wires": []
    }
]