data/node-red-data/.flows.json.backup
[
    {
        "id": "f6f2187d.f17ca8",
        "type": "tab",
        "label": "Dashboard",
        "disabled": false,
        "info": ""
    },
    {
        "id": "f720170e2cc34d11",
        "type": "tab",
        "label": "Current Activity",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "bbe70953285e276c",
        "type": "tab",
        "label": "Settings",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "037aecdc6926ce9a",
        "type": "mqtt-broker",
        "name": "IdC",
        "broker": "mosquitto",
        "port": "1883",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "autoUnsubscribe": false,
        "birthTopic": "",
        "birthQos": "0",
        "birthRetain": "false",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closeRetain": "false",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willRetain": "false",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "f5279b01.b328d8",
        "type": "mqtt-broker",
        "name": "",
        "broker": "mosquitto",
        "port": "1883",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": 4,
        "keepalive": "60",
        "cleansession": true,
        "autoUnsubscribe": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "willTopic": "",
        "willQos": "0",
        "willPayload": ""
    },
    {
        "id": "54e7288c2ba99b11",
        "type": "ui_base",
        "theme": {
            "name": "theme-dark",
            "lightTheme": {
                "default": "#0094CE",
                "baseColor": "#2c54f2",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": true,
                "reset": false
            },
            "darkTheme": {
                "default": "#097479",
                "baseColor": "#2e62ff",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": true,
                "reset": false
            },
            "customTheme": {
                "name": "Untitled Theme 1",
                "default": "#4B7930",
                "baseColor": "#4B7930",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "reset": false
            },
            "themeState": {
                "base-color": {
                    "default": "#097479",
                    "value": "#2e62ff",
                    "edited": true
                },
                "page-titlebar-backgroundColor": {
                    "value": "#2e62ff",
                    "edited": false
                },
                "page-backgroundColor": {
                    "value": "#111111",
                    "edited": false
                },
                "page-sidebar-backgroundColor": {
                    "value": "#333333",
                    "edited": false
                },
                "group-textColor": {
                    "value": "#7a9bff",
                    "edited": false
                },
                "group-borderColor": {
                    "value": "#555555",
                    "edited": false
                },
                "group-backgroundColor": {
                    "value": "#333333",
                    "edited": false
                },
                "widget-textColor": {
                    "value": "#eeeeee",
                    "edited": false
                },
                "widget-backgroundColor": {
                    "value": "#2e62ff",
                    "edited": false
                },
                "widget-borderColor": {
                    "value": "#333333",
                    "edited": false
                },
                "base-font": {
                    "value": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
                }
            },
            "angularTheme": {
                "primary": "indigo",
                "accents": "blue",
                "warn": "red",
                "background": "grey",
                "palette": "dark"
            }
        },
        "site": {
            "name": "Fitness Monitoring",
            "hideToolbar": "false",
            "allowSwipe": "false",
            "lockMenu": "true",
            "allowTempTheme": "true",
            "dateFormat": "DD/MM/YYYY",
            "sizes": {
                "sx": 50,
                "sy": 50,
                "gx": 6,
                "gy": 6,
                "cx": 6,
                "cy": 6,
                "px": 0,
                "py": 0
            }
        }
    },
    {
        "id": "a78cb2f860b22a4a",
        "type": "ui_tab",
        "name": "History",
        "icon": "fa-hourglass",
        "order": 2,
        "disabled": false,
        "hidden": false
    },
    {
        "id": "57c0f65a01184402",
        "type": "ui_tab",
        "name": "Today",
        "icon": "today",
        "order": 1,
        "disabled": false,
        "hidden": false
    },
    {
        "id": "d1ab81382855fd4b",
        "type": "ui_group",
        "name": "Today",
        "tab": "57c0f65a01184402",
        "order": 1,
        "disp": true,
        "width": 15,
        "collapse": false,
        "className": ""
    },
    {
        "id": "eb93e483d1486b31",
        "type": "ui_spacer",
        "z": "f6f2187d.f17ca8",
        "name": "spacer",
        "group": "a33b2b7f897e6143",
        "order": 3,
        "width": 1,
        "height": 1
    },
    {
        "id": "e34fc22e9331f514",
        "type": "ui_group",
        "name": "History of Activity",
        "tab": "a78cb2f860b22a4a",
        "order": 4,
        "disp": true,
        "width": "16",
        "collapse": false,
        "className": ""
    },
    {
        "id": "4ffe8dfa06844b21",
        "type": "ui_spacer",
        "z": "f6f2187d.f17ca8",
        "name": "spacer",
        "group": "e34fc22e9331f514",
        "order": 1,
        "width": 2,
        "height": 1
    },
    {
        "id": "218c063930e357b9",
        "type": "ui_spacer",
        "z": "f6f2187d.f17ca8",
        "name": "spacer",
        "group": "e34fc22e9331f514",
        "order": 6,
        "width": 2,
        "height": 1
    },
    {
        "id": "300466a754bdcc74",
        "type": "ui_spacer",
        "z": "f6f2187d.f17ca8",
        "name": "spacer",
        "group": "e34fc22e9331f514",
        "order": 8,
        "width": 4,
        "height": 1
    },
    {
        "id": "bf1318429630626c",
        "type": "ui_spacer",
        "z": "f6f2187d.f17ca8",
        "name": "spacer",
        "group": "e34fc22e9331f514",
        "order": 10,
        "width": 1,
        "height": 1
    },
    {
        "id": "8f37939d24fcb53c",
        "type": "ui_spacer",
        "z": "f6f2187d.f17ca8",
        "name": "spacer",
        "group": "e34fc22e9331f514",
        "order": 12,
        "width": 1,
        "height": 1
    },
    {
        "id": "329873c0be912b1a",
        "type": "ui_spacer",
        "z": "f6f2187d.f17ca8",
        "name": "spacer",
        "group": "e34fc22e9331f514",
        "order": 14,
        "width": 4,
        "height": 1
    },
    {
        "id": "79b838218f3fe196",
        "type": "ui_spacer",
        "z": "f6f2187d.f17ca8",
        "name": "spacer",
        "group": "e34fc22e9331f514",
        "order": 15,
        "width": 16,
        "height": 1
    },
    {
        "id": "ee4fe73eb21664d5",
        "type": "ui_tab",
        "name": "Settings",
        "icon": "settings",
        "order": 3,
        "disabled": false,
        "hidden": false
    },
    {
        "id": "95926c1d8c715b2d",
        "type": "ui_group",
        "name": "Settings",
        "tab": "ee4fe73eb21664d5",
        "order": 1,
        "disp": true,
        "width": 13,
        "collapse": false,
        "className": ""
    },
    {
        "id": "67f548e5d31b33f9",
        "type": "ui_spacer",
        "z": "bbe70953285e276c",
        "name": "spacer",
        "group": "95926c1d8c715b2d",
        "order": 2,
        "width": 1,
        "height": 1
    },
    {
        "id": "02585f8c77980fc7",
        "type": "ui_spacer",
        "z": "bbe70953285e276c",
        "name": "spacer",
        "group": "95926c1d8c715b2d",
        "order": 5,
        "width": 1,
        "height": 1
    },
    {
        "id": "3a0a33c548920f42",
        "type": "ui_spacer",
        "z": "bbe70953285e276c",
        "name": "spacer",
        "group": "95926c1d8c715b2d",
        "order": 8,
        "width": 1,
        "height": 1
    },
    {
        "id": "3e77e39546bcd4f4",
        "type": "ui_spacer",
        "z": "bbe70953285e276c",
        "name": "spacer",
        "group": "95926c1d8c715b2d",
        "order": 11,
        "width": 1,
        "height": 1
    },
    {
        "id": "c20c67c922571ec8",
        "type": "ui_spacer",
        "z": "bbe70953285e276c",
        "name": "spacer",
        "group": "95926c1d8c715b2d",
        "order": 14,
        "width": 1,
        "height": 1
    },
    {
        "id": "4dc322915e9d125c",
        "type": "ui_spacer",
        "z": "bbe70953285e276c",
        "name": "spacer",
        "group": "95926c1d8c715b2d",
        "order": 17,
        "width": 1,
        "height": 1
    },
    {
        "id": "e2405234a3a66925",
        "type": "ui_spacer",
        "z": "f720170e2cc34d11",
        "name": "spacer",
        "group": "d1ab81382855fd4b",
        "order": 1,
        "width": 1,
        "height": 1
    },
    {
        "id": "c548e72c83cefb5d",
        "type": "ui_spacer",
        "z": "f720170e2cc34d11",
        "name": "spacer",
        "group": "d1ab81382855fd4b",
        "order": 3,
        "width": 1,
        "height": 1
    },
    {
        "id": "26db609753f2f4d9",
        "type": "ui_spacer",
        "z": "f720170e2cc34d11",
        "name": "spacer",
        "group": "d1ab81382855fd4b",
        "order": 5,
        "width": 1,
        "height": 1
    },
    {
        "id": "5674b08b9491ea43",
        "type": "ui_spacer",
        "z": "f720170e2cc34d11",
        "name": "spacer",
        "group": "d1ab81382855fd4b",
        "order": 6,
        "width": 1,
        "height": 1
    },
    {
        "id": "5cfd7373fe46d544",
        "type": "ui_spacer",
        "z": "f720170e2cc34d11",
        "name": "spacer",
        "group": "d1ab81382855fd4b",
        "order": 8,
        "width": 1,
        "height": 1
    },
    {
        "id": "f364586f15780f7c",
        "type": "ui_spacer",
        "z": "f720170e2cc34d11",
        "name": "spacer",
        "group": "d1ab81382855fd4b",
        "order": 9,
        "width": 1,
        "height": 1
    },
    {
        "id": "4a86b04f6dc6bb00",
        "type": "ui_spacer",
        "z": "f720170e2cc34d11",
        "name": "spacer",
        "group": "d1ab81382855fd4b",
        "order": 10,
        "width": 2,
        "height": 1
    },
    {
        "id": "601389e139df6f18",
        "type": "ui_spacer",
        "z": "f720170e2cc34d11",
        "name": "spacer",
        "group": "d1ab81382855fd4b",
        "order": 12,
        "width": 1,
        "height": 1
    },
    {
        "id": "879370fc2fc29318",
        "type": "ui_spacer",
        "z": "f720170e2cc34d11",
        "name": "spacer",
        "group": "d1ab81382855fd4b",
        "order": 14,
        "width": 2,
        "height": 1
    },
    {
        "id": "836bbcadfb9d2d33",
        "type": "ui_spacer",
        "z": "f720170e2cc34d11",
        "name": "spacer",
        "group": "d1ab81382855fd4b",
        "order": 15,
        "width": 2,
        "height": 1
    },
    {
        "id": "6c632140e1918873",
        "type": "ui_spacer",
        "z": "f720170e2cc34d11",
        "name": "spacer",
        "group": "d1ab81382855fd4b",
        "order": 16,
        "width": 1,
        "height": 1
    },
    {
        "id": "b793b63bca8b7b8e",
        "type": "ui_spacer",
        "z": "f720170e2cc34d11",
        "name": "spacer",
        "group": "d1ab81382855fd4b",
        "order": 17,
        "width": 2,
        "height": 1
    },
    {
        "id": "d579818c95a29d7f",
        "type": "ui_spacer",
        "z": "f720170e2cc34d11",
        "name": "spacer",
        "group": "d1ab81382855fd4b",
        "order": 18,
        "width": 2,
        "height": 1
    },
    {
        "id": "b209bb41d3e94507",
        "type": "ui_spacer",
        "z": "f720170e2cc34d11",
        "name": "spacer",
        "group": "d1ab81382855fd4b",
        "order": 19,
        "width": 1,
        "height": 1
    },
    {
        "id": "733c3fc0c4eeec56",
        "type": "ui_spacer",
        "z": "f720170e2cc34d11",
        "name": "spacer",
        "group": "d1ab81382855fd4b",
        "order": 20,
        "width": 2,
        "height": 1
    },
    {
        "id": "d1f8045b763b1ee9",
        "type": "ui_spacer",
        "z": "f720170e2cc34d11",
        "name": "spacer",
        "group": "d1ab81382855fd4b",
        "order": 21,
        "width": 2,
        "height": 1
    },
    {
        "id": "cc18fd1fcd4be664",
        "type": "ui_spacer",
        "z": "f720170e2cc34d11",
        "name": "spacer",
        "group": "d1ab81382855fd4b",
        "order": 22,
        "width": 1,
        "height": 1
    },
    {
        "id": "452f55baf76a5b5d",
        "type": "ui_spacer",
        "z": "f720170e2cc34d11",
        "name": "spacer",
        "group": "d1ab81382855fd4b",
        "order": 23,
        "width": 2,
        "height": 1
    },
    {
        "id": "d4c42d304be71235",
        "type": "ui_spacer",
        "z": "f720170e2cc34d11",
        "name": "spacer",
        "group": "d1ab81382855fd4b",
        "order": 24,
        "width": 2,
        "height": 1
    },
    {
        "id": "7691f63b2b8c37b1",
        "type": "ui_spacer",
        "z": "f720170e2cc34d11",
        "name": "spacer",
        "group": "d1ab81382855fd4b",
        "order": 25,
        "width": 1,
        "height": 1
    },
    {
        "id": "e041699c71b85ac2",
        "type": "ui_spacer",
        "z": "f720170e2cc34d11",
        "name": "spacer",
        "group": "d1ab81382855fd4b",
        "order": 26,
        "width": 2,
        "height": 1
    },
    {
        "id": "266d591cd59b2411",
        "type": "ui_spacer",
        "z": "f720170e2cc34d11",
        "name": "spacer",
        "group": "d1ab81382855fd4b",
        "order": 27,
        "width": 2,
        "height": 1
    },
    {
        "id": "85f46a26c8055beb",
        "type": "ui_spacer",
        "z": "f720170e2cc34d11",
        "name": "spacer",
        "group": "d1ab81382855fd4b",
        "order": 29,
        "width": 1,
        "height": 1
    },
    {
        "id": "1c3ccdef9aa90e8f",
        "type": "ui_spacer",
        "z": "f720170e2cc34d11",
        "name": "spacer",
        "group": "d1ab81382855fd4b",
        "order": 31,
        "width": 2,
        "height": 1
    },
    {
        "id": "6833555996c512a5",
        "type": "ui_spacer",
        "z": "f720170e2cc34d11",
        "name": "spacer",
        "group": "d1ab81382855fd4b",
        "order": 32,
        "width": 2,
        "height": 1
    },
    {
        "id": "54f08046100bc68c",
        "type": "ui_spacer",
        "z": "f720170e2cc34d11",
        "name": "spacer",
        "group": "d1ab81382855fd4b",
        "order": 34,
        "width": 1,
        "height": 1
    },
    {
        "id": "b70c086e3ff89bdc",
        "type": "ui_spacer",
        "z": "f720170e2cc34d11",
        "name": "spacer",
        "group": "d1ab81382855fd4b",
        "order": 36,
        "width": 2,
        "height": 1
    },
    {
        "id": "e086fced614182aa",
        "type": "ui_spacer",
        "z": "f720170e2cc34d11",
        "name": "spacer",
        "group": "d1ab81382855fd4b",
        "order": 37,
        "width": 2,
        "height": 1
    },
    {
        "id": "c34b158e3cdd9da2",
        "type": "ui_spacer",
        "z": "f720170e2cc34d11",
        "name": "spacer",
        "group": "d1ab81382855fd4b",
        "order": 39,
        "width": 1,
        "height": 1
    },
    {
        "id": "8e195f2ac8310557",
        "type": "ui_spacer",
        "z": "f720170e2cc34d11",
        "name": "spacer",
        "group": "d1ab81382855fd4b",
        "order": 41,
        "width": 1,
        "height": 1
    },
    {
        "id": "3d1104b3fd2f0120",
        "type": "ui_spacer",
        "z": "f720170e2cc34d11",
        "name": "spacer",
        "group": "d1ab81382855fd4b",
        "order": 43,
        "width": 2,
        "height": 1
    },
    {
        "id": "df924a2577f12739",
        "type": "ui_chart",
        "z": "f6f2187d.f17ca8",
        "name": "Data Display",
        "group": "e34fc22e9331f514",
        "order": 7,
        "width": 16,
        "height": 5,
        "label": "{{msg.topic}}",
        "chartType": "bar",
        "legend": "true",
        "xformat": "auto",
        "interpolate": "linear",
        "nodata": "Select the date interval to display data!",
        "dot": true,
        "ymin": "",
        "ymax": "",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#ff7f0e",
            "#b30fff",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 1750,
        "y": 220,
        "wires": [
            []
        ]
    },
    {
        "id": "268488cf39bea576",
        "type": "ui_button",
        "z": "f6f2187d.f17ca8",
        "name": "",
        "group": "e34fc22e9331f514",
        "order": 2,
        "width": 3,
        "height": 1,
        "passthru": false,
        "label": "Duration",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "Duration",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "str",
        "x": 100,
        "y": 80,
        "wires": [
            [
                "4cf8b5862d51c0a1"
            ]
        ]
    },
    {
        "id": "d69393651836928f",
        "type": "ui_button",
        "z": "f6f2187d.f17ca8",
        "name": "",
        "group": "e34fc22e9331f514",
        "order": 3,
        "width": 3,
        "height": 1,
        "passthru": false,
        "label": "Distance",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "Distance",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 100,
        "y": 120,
        "wires": [
            [
                "4cf8b5862d51c0a1"
            ]
        ]
    },
    {
        "id": "86295fa9eb8de15a",
        "type": "ui_button",
        "z": "f6f2187d.f17ca8",
        "name": "",
        "group": "e34fc22e9331f514",
        "order": 4,
        "width": 3,
        "height": 1,
        "passthru": false,
        "label": "Calories",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "Calories",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 100,
        "y": 160,
        "wires": [
            [
                "4cf8b5862d51c0a1"
            ]
        ]
    },
    {
        "id": "49b7c6071c03ba55",
        "type": "ui_button",
        "z": "f6f2187d.f17ca8",
        "name": "",
        "group": "e34fc22e9331f514",
        "order": 5,
        "width": 3,
        "height": 1,
        "passthru": false,
        "label": "Activity Level",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "Activity Level",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 110,
        "y": 200,
        "wires": [
            [
                "4cf8b5862d51c0a1"
            ]
        ]
    },
    {
        "id": "d476583791edad7f",
        "type": "ui_button",
        "z": "f6f2187d.f17ca8",
        "name": "",
        "group": "e34fc22e9331f514",
        "order": 9,
        "width": 2,
        "height": 1,
        "passthru": false,
        "label": "Day",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "day",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 90,
        "y": 280,
        "wires": [
            [
                "8977936e467c8338"
            ]
        ]
    },
    {
        "id": "0bd98bf2c8500038",
        "type": "ui_button",
        "z": "f6f2187d.f17ca8",
        "name": "",
        "group": "e34fc22e9331f514",
        "order": 11,
        "width": 2,
        "height": 1,
        "passthru": false,
        "label": "Week",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "week",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 90,
        "y": 320,
        "wires": [
            [
                "8977936e467c8338"
            ]
        ]
    },
    {
        "id": "2f49448bea76445e",
        "type": "ui_button",
        "z": "f6f2187d.f17ca8",
        "name": "",
        "group": "e34fc22e9331f514",
        "order": 13,
        "width": 2,
        "height": 1,
        "passthru": false,
        "label": "Month",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "month",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 90,
        "y": 360,
        "wires": [
            [
                "8977936e467c8338"
            ]
        ]
    },
    {
        "id": "51a148835b1205a6",
        "type": "ui_form",
        "z": "f6f2187d.f17ca8",
        "name": "",
        "label": "",
        "group": "e34fc22e9331f514",
        "order": 23,
        "width": 0,
        "height": 0,
        "options": [
            {
                "label": "Start Date",
                "value": "start_date",
                "type": "date",
                "required": true,
                "rows": null
            },
            {
                "label": "End Date",
                "value": "end_date",
                "type": "date",
                "required": true,
                "rows": null
            }
        ],
        "formValue": {
            "start_date": "",
            "end_date": ""
        },
        "payload": "",
        "submit": "Search",
        "cancel": "",
        "topic": "topic",
        "topicType": "msg",
        "splitLayout": true,
        "className": "",
        "x": 90,
        "y": 460,
        "wires": [
            [
                "055818024f605f63"
            ]
        ]
    },
    {
        "id": "fc88a607928f1d2c",
        "type": "http request",
        "z": "f6f2187d.f17ca8",
        "name": "Fetch Duration",
        "method": "POST",
        "ret": "obj",
        "paytoqs": "body",
        "url": "http://172.100.10.14:8080/duration",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [],
        "x": 1260,
        "y": 240,
        "wires": [
            [
                "20e2124887c2d9ae"
            ]
        ]
    },
    {
        "id": "4cf8b5862d51c0a1",
        "type": "change",
        "z": "f6f2187d.f17ca8",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "dataType",
                "pt": "flow",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 410,
        "y": 240,
        "wires": [
            [
                "ad6a3cb3572288bf"
            ]
        ]
    },
    {
        "id": "8977936e467c8338",
        "type": "change",
        "z": "f6f2187d.f17ca8",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "period",
                "pt": "flow",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 400,
        "y": 300,
        "wires": [
            [
                "ad6a3cb3572288bf"
            ]
        ]
    },
    {
        "id": "ee104bc00a538728",
        "type": "change",
        "z": "f6f2187d.f17ca8",
        "name": "set start & end dates",
        "rules": [
            {
                "t": "set",
                "p": "start_date",
                "pt": "flow",
                "to": "payload.start_date",
                "tot": "msg",
                "dc": true
            },
            {
                "t": "set",
                "p": "end_date",
                "pt": "flow",
                "to": "payload.end_date",
                "tot": "msg",
                "dc": true
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 420,
        "y": 360,
        "wires": [
            [
                "ad6a3cb3572288bf"
            ]
        ]
    },
    {
        "id": "ad6a3cb3572288bf",
        "type": "function",
        "z": "f6f2187d.f17ca8",
        "name": "CreateRequest",
        "func": "var dataPeriod = flow.get('period');\nvar end_date = flow.get('end_date');\nvar start_date = flow.get('start_date');\nvar age = global.get('age');\nvar height = global.get('height');\nvar weight = global.get('weight');\nvar gender = global.get('gender');\nvar walkingThreshold = global.get('walkingThreshold');\nvar runningThreshold = global.get('runningThreshold');\n\nvar isValid = true;\n\nif(dataPeriod === undefined) {\n    dataPeriod = 'day';\n}\n\nif(start_date === undefined || end_date === undefined) {\n    isValid = false;\n    return {payload : 'Error: Please select start and end dates!'};\n}\n\n\nif( new Date(start_date) > new Date(end_date)) {\n    isValid = false;\n    return {payload : 'Error: Start date must be before End date!'};\n}\n\n\nif(age === undefined){\n    age = 21;\n}\n\nif(height === undefined){\n    height = 170;\n}\n\nif(weight === undefined){\n    weight = 50;\n}\n\nif(gender === undefined) {\n    gender = 'male';\n}\n\nif(walkingThreshold === undefined) {\n    walkingThreshold = 30;\n}\n\nif(runningThreshold === undefined) {\n    runningThreshold = 10;\n}\n\nvar newMsg = {\n    payload : {\n        dataPeriod : dataPeriod,\n        start_date : start_date,\n        end_date : end_date,\n        age : age,\n        height : height,\n        weight : weight,\n        gender : gender,\n        walking_threshold : walkingThreshold,\n        running_threshold : runningThreshold\n    }\n};\n\n\nreturn newMsg; //newMsg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 680,
        "y": 300,
        "wires": [
            [
                "2f6a671a6a3be3c6",
                "02f269b9042de777"
            ]
        ]
    },
    {
        "id": "2f6a671a6a3be3c6",
        "type": "switch",
        "z": "f6f2187d.f17ca8",
        "name": "",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "cont",
                "v": "Error",
                "vt": "str"
            },
            {
                "t": "else"
            }
        ],
        "checkall": "false",
        "repair": false,
        "outputs": 2,
        "x": 850,
        "y": 300,
        "wires": [
            [
                "174623ae06df9223"
            ],
            [
                "c0bc66eb40920bfe",
                "b574ce530adf53fa"
            ]
        ]
    },
    {
        "id": "c0bc66eb40920bfe",
        "type": "debug",
        "z": "f6f2187d.f17ca8",
        "name": "Created Request",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 1090,
        "y": 160,
        "wires": []
    },
    {
        "id": "24a77358085c8c36",
        "type": "debug",
        "z": "f6f2187d.f17ca8",
        "name": "Response",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 1740,
        "y": 400,
        "wires": []
    },
    {
        "id": "20e2124887c2d9ae",
        "type": "function",
        "z": "f6f2187d.f17ca8",
        "name": "ParseResponse",
        "func": "var dataType = flow.get('dataType');\nvar period = flow.get('period');\nvar startDate = String(flow.get('start_date')).split('T')[0];\nvar endDate = String(flow.get('end_date')).split('T')[0];\n\nvar label = String(dataType) + \" per \" + String(period) + \": \" + startDate + \" -- \" + endDate;\nflow.set('label', label);\n\n\nvar newMsg = {payload : [msg.payload], topic : label};\n\nreturn newMsg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1540,
        "y": 320,
        "wires": [
            [
                "24a77358085c8c36",
                "df924a2577f12739"
            ]
        ]
    },
    {
        "id": "b574ce530adf53fa",
        "type": "switch",
        "z": "f6f2187d.f17ca8",
        "name": "",
        "property": "dataType",
        "propertyType": "flow",
        "rules": [
            {
                "t": "null"
            },
            {
                "t": "eq",
                "v": "Duration",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "Calories",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "Distance",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "Activity Level",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 5,
        "x": 1050,
        "y": 320,
        "wires": [
            [
                "fc88a607928f1d2c"
            ],
            [
                "fc88a607928f1d2c"
            ],
            [
                "c46e0c370921b1eb"
            ],
            [
                "f63f744f83e6c175"
            ],
            [
                "65d75cb7c39d454d"
            ]
        ]
    },
    {
        "id": "c46e0c370921b1eb",
        "type": "http request",
        "z": "f6f2187d.f17ca8",
        "name": "Fetch Calories",
        "method": "POST",
        "ret": "obj",
        "paytoqs": "body",
        "url": "http://172.100.10.14:8080/calories",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [],
        "x": 1260,
        "y": 300,
        "wires": [
            [
                "20e2124887c2d9ae"
            ]
        ]
    },
    {
        "id": "f63f744f83e6c175",
        "type": "http request",
        "z": "f6f2187d.f17ca8",
        "name": "Fetch Distance",
        "method": "POST",
        "ret": "obj",
        "paytoqs": "body",
        "url": "http://172.100.10.14:8080/distance",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [],
        "x": 1260,
        "y": 360,
        "wires": [
            [
                "20e2124887c2d9ae"
            ]
        ]
    },
    {
        "id": "65d75cb7c39d454d",
        "type": "http request",
        "z": "f6f2187d.f17ca8",
        "name": "Fetch Activity Level",
        "method": "POST",
        "ret": "obj",
        "paytoqs": "body",
        "url": "http://172.100.10.14:8080/activitylevel",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [],
        "x": 1270,
        "y": 420,
        "wires": [
            [
                "20e2124887c2d9ae"
            ]
        ]
    },
    {
        "id": "174623ae06df9223",
        "type": "ui_toast",
        "z": "f6f2187d.f17ca8",
        "position": "top right",
        "displayTime": "3",
        "highlight": "",
        "sendall": true,
        "outputs": 0,
        "ok": "OK",
        "cancel": "",
        "raw": false,
        "className": "",
        "topic": "",
        "name": "",
        "x": 1070,
        "y": 100,
        "wires": []
    },
    {
        "id": "02f269b9042de777",
        "type": "debug",
        "z": "f6f2187d.f17ca8",
        "name": "debug 1",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 800,
        "y": 160,
        "wires": []
    },
    {
        "id": "055818024f605f63",
        "type": "function",
        "z": "f6f2187d.f17ca8",
        "name": "ParseDates",
        "func": "var start = new Date(msg.payload.start_date);\nvar end = new Date(msg.payload.end_date);\n\nvar summer_time = new Date();\nsummer_time.setFullYear(start.getFullYear());\nsummer_time.setMonth(9);\nsummer_time.setDate(29);\n\nif (start < summer_time) {\n    start.setDate(start.getDate() + 1);\n}\n\nif (end < summer_time) {\n    end.setDate(end.getDate() + 1);\n}\n\nvar newMsg = {payload : {\n    start_date : start.toISOString(),\n    end_date : end.toISOString()\n}}\n\nreturn newMsg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 230,
        "y": 460,
        "wires": [
            [
                "ee104bc00a538728",
                "c713596b692d09bf"
            ]
        ]
    },
    {
        "id": "c713596b692d09bf",
        "type": "debug",
        "z": "f6f2187d.f17ca8",
        "name": "debug 2",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 480,
        "y": 520,
        "wires": []
    },
    {
        "id": "6b98949027b6f52a",
        "type": "ui_text",
        "z": "f720170e2cc34d11",
        "group": "d1ab81382855fd4b",
        "order": 4,
        "width": 5,
        "height": 2,
        "name": "Current Date",
        "label": "",
        "format": "{{msg.payload}}",
        "layout": "col-center",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": "16",
        "color": "#f2852c",
        "x": 650,
        "y": 60,
        "wires": []
    },
    {
        "id": "e488ff1b144722a3",
        "type": "inject",
        "z": "f720170e2cc34d11",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "1",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 230,
        "y": 60,
        "wires": [
            [
                "1ffab7d22461beda"
            ]
        ]
    },
    {
        "id": "1ffab7d22461beda",
        "type": "function",
        "z": "f720170e2cc34d11",
        "name": "toDate",
        "func": "var days = [\"Sunday\", \"Monday\", \"Tuesday\", \"Wednesday\", \"Thursday\", \"Friday\", \"Saturday\"];\nvar months = [\"January\", \"February\", \"March\", \"April\", \"May\", \"June\", \"July\", \"August\", \"September\", \"October\", \"November\", \"December\"];\nvar timestamp = msg.payload;\nvar date = new Date(timestamp);\n\nvar dayOfWeek = days[date.getDay()];\nvar day = date.getDate();\nvar month = months[date.getMonth()];\nvar year = date.getFullYear();\n\n\nreturn {payload : dayOfWeek + \", \" + day + \" \" + month + \" \" + year + \", \" + date.toTimeString().split(\" \")[0]};",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 430,
        "y": 60,
        "wires": [
            [
                "6b98949027b6f52a"
            ]
        ]
    },
    {
        "id": "d585a015351c694b",
        "type": "ui_text",
        "z": "f720170e2cc34d11",
        "group": "d1ab81382855fd4b",
        "order": 2,
        "width": 7,
        "height": 1,
        "name": "Current Activity",
        "label": "Current Activity:",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": "16",
        "color": "#000000",
        "x": 940,
        "y": 680,
        "wires": []
    },
    {
        "id": "bdb6667ba7cc28ee",
        "type": "http request",
        "z": "f720170e2cc34d11",
        "name": "fetchDuration",
        "method": "POST",
        "ret": "txt",
        "paytoqs": "ignore",
        "url": "http://172.100.10.14:8080/duration",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [],
        "x": 490,
        "y": 360,
        "wires": [
            [
                "9bbe960bd0fe1686"
            ]
        ]
    },
    {
        "id": "195bab95f8c54670",
        "type": "http request",
        "z": "f720170e2cc34d11",
        "name": "fetchCalories",
        "method": "POST",
        "ret": "txt",
        "paytoqs": "ignore",
        "url": "http://172.100.10.14:8080/calories",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [],
        "x": 490,
        "y": 460,
        "wires": [
            [
                "eaf497c0cba79f78"
            ]
        ]
    },
    {
        "id": "6e2c0eac36e08e81",
        "type": "http request",
        "z": "f720170e2cc34d11",
        "name": "fetchDistance",
        "method": "POST",
        "ret": "txt",
        "paytoqs": "ignore",
        "url": "http://172.100.10.14:8080/distance",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [],
        "x": 500,
        "y": 540,
        "wires": [
            [
                "a6b1524085353f74"
            ]
        ]
    },
    {
        "id": "aebea3501ee11199",
        "type": "http request",
        "z": "f720170e2cc34d11",
        "name": "fetchActivityLevel",
        "method": "POST",
        "ret": "txt",
        "paytoqs": "ignore",
        "url": "http://172.100.10.14:8080/activitylevel",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [],
        "x": 510,
        "y": 620,
        "wires": [
            [
                "32ee362ea8632004"
            ]
        ]
    },
    {
        "id": "f64668cea2547058",
        "type": "http request",
        "z": "f720170e2cc34d11",
        "name": "fetchActivityType",
        "method": "GET",
        "ret": "txt",
        "paytoqs": "ignore",
        "url": "http://172.100.10.14:8080/activitytype",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [],
        "x": 510,
        "y": 680,
        "wires": [
            [
                "0e225c233d0cbec9",
                "843720c36f2856a9"
            ]
        ]
    },
    {
        "id": "0e225c233d0cbec9",
        "type": "function",
        "z": "f720170e2cc34d11",
        "name": "parseActivityType",
        "func": "var activityType = msg.payload;\nvar activity;\n\n\nif(activityType === \"0\" ) {\n    activity = \"Walking\";\n} else if (activityType === \"1\") {\n    activity = \"Running\";\n} else {\n    activity = \"Stopped\";\n}\n\nreturn {payload : activity};",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 730,
        "y": 680,
        "wires": [
            [
                "d585a015351c694b"
            ]
        ]
    },
    {
        "id": "9bbe960bd0fe1686",
        "type": "function",
        "z": "f720170e2cc34d11",
        "name": "parseDuration",
        "func": "\nvar response = JSON.parse(msg.payload);\n\nvar period = flow.get('timePeriod');\n\nvar runningThreshold = global.get('runningThreshold');\nvar walkingThreshold = global.get('walkingThreshold');\nvar multiplier = 1;\n\nif(runningThreshold === undefined ) {\n    runningThreshold = 10;\n} \n\nif(walkingThreshold === undefined) {\n    walkingThreshold = 30;\n}\n\nif(period === 'week') {\n\n    multiplier = 7;\n\n} else if (period === 'month') {\n\n    multiplier = 30;\n\n}\n\nvar newMsg = {payload : {\n                duration_running : response.data[0][0],\n                duration_walking : response.data[1][0],\n                threshold_running : multiplier * runningThreshold,\n                threshold_walking : multiplier * walkingThreshold\n            }\n        };\n\n\n\nreturn newMsg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 720,
        "y": 360,
        "wires": [
            [
                "fb010669f5d432b7",
                "08d2d9ab9f91ac10"
            ]
        ]
    },
    {
        "id": "eaf497c0cba79f78",
        "type": "function",
        "z": "f720170e2cc34d11",
        "name": "parseCalories",
        "func": "var response = JSON.parse(msg.payload);\n\nvar newMsg = {\n    payload: {\n        calories_running: response.data[0][0],\n        calories_walking: response.data[1][0],\n    }\n};\n\n\nreturn newMsg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 720,
        "y": 460,
        "wires": [
            [
                "26a8aba2ae2f5cf6",
                "2c9b49847c088544"
            ]
        ]
    },
    {
        "id": "a6b1524085353f74",
        "type": "function",
        "z": "f720170e2cc34d11",
        "name": "parseDistance",
        "func": "var response = JSON.parse(msg.payload);\n\nvar newMsg = {\n    payload: {\n        distance_running: response.data[0][0],\n        distance_walking: response.data[1][0],\n    }\n};\n\n\nreturn newMsg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 720,
        "y": 540,
        "wires": [
            [
                "0fe1531603a7d7a0",
                "dbfab18e1f77b628"
            ]
        ]
    },
    {
        "id": "32ee362ea8632004",
        "type": "function",
        "z": "f720170e2cc34d11",
        "name": "parseActivityLevel",
        "func": "var response = JSON.parse(msg.payload);\n\nvar active = response.data[0][0];\nvar status;\n\nif(active === '1') {\n    status = \"Active\";\n} else {\n    status = \"Sedentary\";\n}\n\nvar newMsg = {payload: status};\n\nreturn newMsg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 730,
        "y": 620,
        "wires": [
            [
                "50eebd18e022ee52"
            ]
        ]
    },
    {
        "id": "1a8d3d37358bc85e",
        "type": "ui_gauge",
        "z": "f720170e2cc34d11",
        "name": "TimeRunning",
        "group": "d1ab81382855fd4b",
        "order": 11,
        "width": 5,
        "height": 5,
        "gtype": "gage",
        "title": "Time Spent Running",
        "label": "Minutes",
        "format": "{{value}}",
        "min": 0,
        "max": 10,
        "colors": [
            "#fa0000",
            "#e6e600",
            "#27db24"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 1150,
        "y": 340,
        "wires": []
    },
    {
        "id": "af6c31310e7e3dd5",
        "type": "function",
        "z": "f720170e2cc34d11",
        "name": "createRequest",
        "func": "var receivedPeriod = msg.payload;\nvar storedPeriod = flow.get('timePeriod');\n\nif(receivedPeriod !== undefined && receivedPeriod !== storedPeriod) {\n    flow.set('timePeriod', receivedPeriod);\n    storedPeriod = receivedPeriod;\n} else if (receivedPeriod === undefined) {\n    flow.set('timePeriod', 'day');\n    storedPeriod = 'day';\n}\n\nvar today = new Date(Date.now());\nvar date = new Date();\ndate.setDate(today.getDate());\ndate.setMonth(today.getMonth());\ndate.setFullYear(today.getFullYear());\ndate.setHours(0);\ndate.setMinutes(0);\ndate.setSeconds(0);\ndate.setMilliseconds(0);\n\nvar age = global.get('age');\nvar height = global.get('height');\nvar weight = global.get('weight');\nvar gender = global.get('gender');\nvar walkingThreshold = global.get('walkingThreshold');\nvar runningThreshold = global.get('runningThreshold');\n\nif(age === undefined){\n    age = 21;\n}\n\nif(height === undefined){\n    height = 170;\n}\n\nif(weight === undefined){\n    weight = 50;\n}\n\nif(gender === undefined) {\n    gender = 'male';\n}\n\nif(walkingThreshold === undefined) {\n    walkingThreshold = 30;\n}\n\nif(runningThreshold === undefined) {\n    runningThreshold = 10;\n}\n\nvar newMsg = {\n    payload: {\n        dataPeriod: storedPeriod,\n        start_date: date.toISOString(),\n        end_date: date.toISOString(),\n        age: age,\n        height: height,\n        weight: weight,\n        gender: gender,\n        walking_threshold: walkingThreshold,\n        running_threshold: runningThreshold\n    }\n}\n\nreturn newMsg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 300,
        "y": 480,
        "wires": [
            [
                "bdb6667ba7cc28ee",
                "195bab95f8c54670",
                "6e2c0eac36e08e81",
                "aebea3501ee11199"
            ]
        ]
    },
    {
        "id": "02d3d5aaf56d6623",
        "type": "inject",
        "z": "f720170e2cc34d11",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "5",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "timePeriod",
        "payloadType": "flow",
        "x": 100,
        "y": 480,
        "wires": [
            [
                "af6c31310e7e3dd5",
                "f64668cea2547058"
            ]
        ]
    },
    {
        "id": "4f8bc132e3182be8",
        "type": "ui_button",
        "z": "f720170e2cc34d11",
        "name": "Day",
        "group": "d1ab81382855fd4b",
        "order": 42,
        "width": 3,
        "height": 1,
        "passthru": false,
        "label": "Day",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "day",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 90,
        "y": 220,
        "wires": [
            [
                "af6c31310e7e3dd5"
            ]
        ]
    },
    {
        "id": "5b6165eed489f34c",
        "type": "ui_button",
        "z": "f720170e2cc34d11",
        "name": "Week",
        "group": "d1ab81382855fd4b",
        "order": 38,
        "width": 3,
        "height": 1,
        "passthru": false,
        "label": "Week",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "week",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 90,
        "y": 280,
        "wires": [
            [
                "af6c31310e7e3dd5"
            ]
        ]
    },
    {
        "id": "d6d5bb726e09150b",
        "type": "ui_button",
        "z": "f720170e2cc34d11",
        "name": "Month",
        "group": "d1ab81382855fd4b",
        "order": 40,
        "width": 3,
        "height": 1,
        "passthru": false,
        "label": "Month",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "month",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 90,
        "y": 340,
        "wires": [
            [
                "af6c31310e7e3dd5"
            ]
        ]
    },
    {
        "id": "50eebd18e022ee52",
        "type": "ui_text",
        "z": "f720170e2cc34d11",
        "group": "d1ab81382855fd4b",
        "order": 7,
        "width": 7,
        "height": 1,
        "name": "Activity Level",
        "label": "Activity Level:",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": "16",
        "color": "#000000",
        "x": 930,
        "y": 620,
        "wires": []
    },
    {
        "id": "a0b7cb12c6c78894",
        "type": "ui_text",
        "z": "f720170e2cc34d11",
        "group": "d1ab81382855fd4b",
        "order": 33,
        "width": 5,
        "height": 1,
        "name": "Calories Running",
        "label": "Calories Spent Running (cal):",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 1170,
        "y": 440,
        "wires": []
    },
    {
        "id": "c50bdd2174f683d0",
        "type": "ui_text",
        "z": "f720170e2cc34d11",
        "group": "d1ab81382855fd4b",
        "order": 35,
        "width": 5,
        "height": 1,
        "name": "Calories Walking",
        "label": "Calories Spent Walking (cal):",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 1170,
        "y": 480,
        "wires": []
    },
    {
        "id": "806236e951186e9f",
        "type": "ui_text",
        "z": "f720170e2cc34d11",
        "group": "d1ab81382855fd4b",
        "order": 28,
        "width": 5,
        "height": 1,
        "name": "Distance Running",
        "label": "Distance Running (Km): ",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 1170,
        "y": 520,
        "wires": []
    },
    {
        "id": "f334addffa82e3af",
        "type": "ui_text",
        "z": "f720170e2cc34d11",
        "group": "d1ab81382855fd4b",
        "order": 30,
        "width": 5,
        "height": 1,
        "name": "Distance Walking",
        "label": "Distance Walking (Km): ",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 1170,
        "y": 560,
        "wires": []
    },
    {
        "id": "d462cff4dee9e4f4",
        "type": "ui_gauge",
        "z": "f720170e2cc34d11",
        "name": "TimeWalking",
        "group": "d1ab81382855fd4b",
        "order": 13,
        "width": 5,
        "height": 5,
        "gtype": "gage",
        "title": "Time Spent Walking",
        "label": "Minutes",
        "format": "{{value}}",
        "min": 0,
        "max": 10,
        "colors": [
            "#fa0000",
            "#e6e600",
            "#27db24"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 1150,
        "y": 380,
        "wires": []
    },
    {
        "id": "fb010669f5d432b7",
        "type": "change",
        "z": "f720170e2cc34d11",
        "name": "Set running limits",
        "rules": [
            {
                "t": "set",
                "p": "ui_control.min",
                "pt": "msg",
                "to": "0",
                "tot": "num"
            },
            {
                "t": "set",
                "p": "ui_control.max",
                "pt": "msg",
                "to": "payload.threshold_running",
                "tot": "msg"
            },
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.duration_running",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 950,
        "y": 340,
        "wires": [
            [
                "1a8d3d37358bc85e"
            ]
        ]
    },
    {
        "id": "08d2d9ab9f91ac10",
        "type": "change",
        "z": "f720170e2cc34d11",
        "name": "Set walking limits",
        "rules": [
            {
                "t": "set",
                "p": "ui_control.min",
                "pt": "msg",
                "to": "0",
                "tot": "num"
            },
            {
                "t": "set",
                "p": "ui_control.max",
                "pt": "msg",
                "to": "payload.threshold_walking",
                "tot": "msg"
            },
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.duration_walking",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 950,
        "y": 380,
        "wires": [
            [
                "d462cff4dee9e4f4"
            ]
        ]
    },
    {
        "id": "26a8aba2ae2f5cf6",
        "type": "change",
        "z": "f720170e2cc34d11",
        "name": "Set calories running",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.calories_running",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 960,
        "y": 440,
        "wires": [
            [
                "a0b7cb12c6c78894"
            ]
        ]
    },
    {
        "id": "2c9b49847c088544",
        "type": "change",
        "z": "f720170e2cc34d11",
        "name": "Set calories walking",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.calories_walking",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 960,
        "y": 480,
        "wires": [
            [
                "c50bdd2174f683d0"
            ]
        ]
    },
    {
        "id": "0fe1531603a7d7a0",
        "type": "change",
        "z": "f720170e2cc34d11",
        "name": "Set distance running",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.distance_running",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 960,
        "y": 520,
        "wires": [
            [
                "806236e951186e9f"
            ]
        ]
    },
    {
        "id": "dbfab18e1f77b628",
        "type": "change",
        "z": "f720170e2cc34d11",
        "name": "Set distance walking",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.distance_walking",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 960,
        "y": 560,
        "wires": [
            [
                "f334addffa82e3af"
            ]
        ]
    },
    {
        "id": "843720c36f2856a9",
        "type": "debug",
        "z": "f720170e2cc34d11",
        "name": "debug 3",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 740,
        "y": 800,
        "wires": []
    },
    {
        "id": "8eb08e4942d06ab4",
        "type": "ui_text",
        "z": "f720170e2cc34d11",
        "group": "d1ab81382855fd4b",
        "order": 44,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "",
        "format": "",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 510,
        "y": 260,
        "wires": []
    },
    {
        "id": "550f6f66a7c2d074",
        "type": "comment",
        "z": "f720170e2cc34d11",
        "name": "Magic Block",
        "info": "This empty text block exists so \nthat the page has one more unit of height.",
        "x": 390,
        "y": 260,
        "wires": []
    },
    {
        "id": "fb6c935414224f8a",
        "type": "ui_text_input",
        "z": "bbe70953285e276c",
        "name": "Weight",
        "label": "Weight(Kg)",
        "tooltip": "",
        "group": "95926c1d8c715b2d",
        "order": 9,
        "width": 6,
        "height": 1,
        "passthru": false,
        "mode": "number",
        "delay": 300,
        "topic": "topic",
        "sendOnBlur": false,
        "className": "",
        "topicType": "msg",
        "x": 330,
        "y": 240,
        "wires": [
            [
                "28505c38d0f5cd49"
            ]
        ]
    },
    {
        "id": "927552e0ae2823a1",
        "type": "ui_text_input",
        "z": "bbe70953285e276c",
        "name": "Height",
        "label": "Height(Cm)",
        "tooltip": "",
        "group": "95926c1d8c715b2d",
        "order": 6,
        "width": 6,
        "height": 1,
        "passthru": false,
        "mode": "number",
        "delay": 300,
        "topic": "topic",
        "sendOnBlur": false,
        "className": "",
        "topicType": "msg",
        "x": 330,
        "y": 380,
        "wires": [
            [
                "58d39a571356d9c3"
            ]
        ]
    },
    {
        "id": "c4d7a7d74bf09805",
        "type": "ui_dropdown",
        "z": "bbe70953285e276c",
        "name": "Gender",
        "label": "Gender",
        "tooltip": "",
        "place": "Select option",
        "group": "95926c1d8c715b2d",
        "order": 18,
        "width": 6,
        "height": 1,
        "passthru": true,
        "multiple": false,
        "options": [
            {
                "label": "",
                "value": "Male",
                "type": "str"
            },
            {
                "label": "",
                "value": "Female",
                "type": "str"
            }
        ],
        "payload": "",
        "topic": "topic",
        "topicType": "msg",
        "className": "",
        "x": 320,
        "y": 520,
        "wires": [
            [
                "44449b3cecd3031c"
            ]
        ]
    },
    {
        "id": "58b246dda7e0bb29",
        "type": "ui_text",
        "z": "bbe70953285e276c",
        "group": "95926c1d8c715b2d",
        "order": 1,
        "width": 6,
        "height": 1,
        "name": "Age",
        "label": "Age",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 790,
        "y": 100,
        "wires": []
    },
    {
        "id": "b961f60963445434",
        "type": "ui_text",
        "z": "bbe70953285e276c",
        "group": "95926c1d8c715b2d",
        "order": 7,
        "width": 6,
        "height": 1,
        "name": "Weight",
        "label": "Weight(Kg)",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 790,
        "y": 240,
        "wires": []
    },
    {
        "id": "37a29ebcf01a344e",
        "type": "ui_text",
        "z": "bbe70953285e276c",
        "group": "95926c1d8c715b2d",
        "order": 4,
        "width": 6,
        "height": 1,
        "name": "Height",
        "label": "Height(Cm)",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 790,
        "y": 380,
        "wires": []
    },
    {
        "id": "8c8d1b3b518aea6a",
        "type": "ui_text",
        "z": "bbe70953285e276c",
        "group": "95926c1d8c715b2d",
        "order": 16,
        "width": 6,
        "height": 1,
        "name": "Gender",
        "label": "Gender",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 800,
        "y": 520,
        "wires": []
    },
    {
        "id": "cdbc5cf51299d1cb",
        "type": "ui_numeric",
        "z": "bbe70953285e276c",
        "name": "Age",
        "label": "Age",
        "tooltip": "",
        "group": "95926c1d8c715b2d",
        "order": 3,
        "width": 6,
        "height": 1,
        "wrap": true,
        "passthru": true,
        "topic": "topic",
        "topicType": "msg",
        "format": "{{value}}",
        "min": "1",
        "max": "150",
        "step": 1,
        "className": "",
        "x": 330,
        "y": 100,
        "wires": [
            [
                "4e707313783b208c"
            ]
        ]
    },
    {
        "id": "4e707313783b208c",
        "type": "change",
        "z": "bbe70953285e276c",
        "name": "setGlobalAge",
        "rules": [
            {
                "t": "set",
                "p": "age",
                "pt": "global",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 560,
        "y": 100,
        "wires": [
            [
                "58b246dda7e0bb29"
            ]
        ]
    },
    {
        "id": "28505c38d0f5cd49",
        "type": "change",
        "z": "bbe70953285e276c",
        "name": "setGlobalWeight",
        "rules": [
            {
                "t": "set",
                "p": "weight",
                "pt": "global",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 560,
        "y": 240,
        "wires": [
            [
                "b961f60963445434"
            ]
        ]
    },
    {
        "id": "58d39a571356d9c3",
        "type": "change",
        "z": "bbe70953285e276c",
        "name": "setGlobalHeight",
        "rules": [
            {
                "t": "set",
                "p": "height",
                "pt": "global",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 560,
        "y": 380,
        "wires": [
            [
                "37a29ebcf01a344e"
            ]
        ]
    },
    {
        "id": "44449b3cecd3031c",
        "type": "change",
        "z": "bbe70953285e276c",
        "name": "setGlobalGender",
        "rules": [
            {
                "t": "set",
                "p": "gender",
                "pt": "global",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 570,
        "y": 520,
        "wires": [
            [
                "8c8d1b3b518aea6a"
            ]
        ]
    },
    {
        "id": "a5792951deb32e8d",
        "type": "ui_text_input",
        "z": "bbe70953285e276c",
        "name": "Active Threshold Walking",
        "label": "Active Threshold Walking (minutes)",
        "tooltip": "",
        "group": "95926c1d8c715b2d",
        "order": 12,
        "width": 6,
        "height": 1,
        "passthru": false,
        "mode": "number",
        "delay": 300,
        "topic": "topic",
        "sendOnBlur": false,
        "className": "",
        "topicType": "msg",
        "x": 370,
        "y": 620,
        "wires": [
            [
                "374cf2cae478d0cb"
            ]
        ]
    },
    {
        "id": "dbaa3e316e7b7295",
        "type": "ui_text",
        "z": "bbe70953285e276c",
        "group": "95926c1d8c715b2d",
        "order": 10,
        "width": 6,
        "height": 1,
        "name": "Walking Threshold",
        "label": "Active Threshold Walking (minutes)",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 910,
        "y": 620,
        "wires": []
    },
    {
        "id": "374cf2cae478d0cb",
        "type": "change",
        "z": "bbe70953285e276c",
        "name": "setGlobalWalkingThreshold",
        "rules": [
            {
                "t": "set",
                "p": "walkingThreshold",
                "pt": "global",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 660,
        "y": 620,
        "wires": [
            [
                "dbaa3e316e7b7295"
            ]
        ]
    },
    {
        "id": "51da4f86abe6d194",
        "type": "ui_text_input",
        "z": "bbe70953285e276c",
        "name": "Active Threshold Running",
        "label": "Active Threshold Running (minutes)",
        "tooltip": "",
        "group": "95926c1d8c715b2d",
        "order": 15,
        "width": 6,
        "height": 1,
        "passthru": false,
        "mode": "number",
        "delay": 300,
        "topic": "topic",
        "sendOnBlur": false,
        "className": "",
        "topicType": "msg",
        "x": 370,
        "y": 720,
        "wires": [
            [
                "82f5970583f860fb"
            ]
        ]
    },
    {
        "id": "a429839a2a8831c4",
        "type": "ui_text",
        "z": "bbe70953285e276c",
        "group": "95926c1d8c715b2d",
        "order": 13,
        "width": 6,
        "height": 1,
        "name": "Running Threshold",
        "label": "Active Threshold Running (minutes)",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 910,
        "y": 720,
        "wires": []
    },
    {
        "id": "82f5970583f860fb",
        "type": "change",
        "z": "bbe70953285e276c",
        "name": "setGlobalRunningThreshold",
        "rules": [
            {
                "t": "set",
                "p": "runningThreshold",
                "pt": "global",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 660,
        "y": 720,
        "wires": [
            [
                "a429839a2a8831c4"
            ]
        ]
    },
    {
        "id": "a9c8c887391f8b29",
        "type": "inject",
        "z": "bbe70953285e276c",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "21",
        "payloadType": "str",
        "x": 310,
        "y": 60,
        "wires": [
            [
                "4e707313783b208c"
            ]
        ]
    },
    {
        "id": "ca61a8285bc90b30",
        "type": "inject",
        "z": "bbe70953285e276c",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "70",
        "payloadType": "str",
        "x": 330,
        "y": 200,
        "wires": [
            [
                "28505c38d0f5cd49"
            ]
        ]
    },
    {
        "id": "121827f276556edf",
        "type": "inject",
        "z": "bbe70953285e276c",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "170",
        "payloadType": "str",
        "x": 330,
        "y": 340,
        "wires": [
            [
                "58d39a571356d9c3"
            ]
        ]
    },
    {
        "id": "d35eb7c2ec864d48",
        "type": "inject",
        "z": "bbe70953285e276c",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "Male",
        "payloadType": "str",
        "x": 330,
        "y": 480,
        "wires": [
            [
                "44449b3cecd3031c"
            ]
        ]
    },
    {
        "id": "470c745c0785844a",
        "type": "inject",
        "z": "bbe70953285e276c",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "30",
        "payloadType": "str",
        "x": 430,
        "y": 580,
        "wires": [
            [
                "374cf2cae478d0cb"
            ]
        ]
    },
    {
        "id": "f8a371f39f47922f",
        "type": "inject",
        "z": "bbe70953285e276c",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "10",
        "payloadType": "str",
        "x": 430,
        "y": 680,
        "wires": [
            [
                "82f5970583f860fb"
            ]
        ]
    }
]